.phonebook {
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 4, 63, 0.3);
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.noContacts {
  text-align: center;
}
