@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding-bottom: 50px;
  font-family: 'Quicksand', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  padding: 5px 10px;
  border: 1px solid rgb(144, 144, 144);
  border-radius: 5px;

  &:focus {
    border: 1px solid #5dff80;
    outline: none;
  }
}

.ContactList {
  position: relative;
}

.spinner {
  position: absolute;
  top: 270px;
  left: 80%;
}
